.App {
  font-size: 14px;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.hidden {
  display: none;
}

.log-entry-input {
  margin: 10px 0;
}

.cross-icon-wrapper {
  color: gray;
  padding: 5px;
}

.remove-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #dc3545;
  background-color: transparent;
}

.remove-icon-wrapper:hover {
  color: #bd2130;
  background-color: #f8f9fa;
}

/* id of the body is used to override bootstrap rules */
#lift-log-app-body .btn:focus,
#lift-log-app-body .btn:active {
  outline: none;
  box-shadow: none;
}

.btn-primary--lighter:hover {
  background-color: #449eff;
}
